---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="grid min-h-[100svh] grid-rows-[auto_1fr_auto]">
    <div class="m-12 font-[Roboto Medium,monospace]">
      <h1 class="mb-4 font-bold text-4xl uppercase">Oops</h1>
      <p>
        Looks like you got lost, maybe you want to&nbsp;
        <a class="underline hover:text-cyan-500" href="/"> go home</a>.
      </p>
    </div>
  </main>
</Layout>
