---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="m-12">
      <h1 class="mb-4 font-bold text-4xl uppercase">Oops</h1>
      <p>
        Looks like you got lost, maybe you want to
        <a class="underline hover:text-cyan-500" href="/">go home</a>.
      </p>
    </div>
  </main>
</Layout>
