---
import Layout from '../layouts/Layout.astro';

const messages = [
  {
    alt: 'hacker-typing-hacking-computer-codes-gif',
    path: 'hacker-typing-hacking-computer-codes.gif',
    message:
      'This page is still under construction while I figure out how to CSS.',
  },
  {
    alt: 'math-hmm-processing-gif',
    path: 'math-hmm-processing.gif',
    message:
      "Page under construction, I'm still figuring out how to format images in tailwind CSS...",
  },
  {
    alt: 'fast-man-run-and-stare-gif',
    path: 'fast-man-run-and-stare.gif',
    message:
      "You thought there would be an actual photography page here, didn't you?",
  },
];

const num = Math.floor(Math.random() * messages.length);
const res = messages[num];
---

<Layout photography>
  <main class="m-12">
    <h1 class="mb-4 font-bold text-4xl uppercase">Photography</h1>
    <p class="mb-4">{res.message}</p>
    <img alt={res.alt} src={res.path} width={500} height={500} />
  </main>
</Layout>
