---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  activeClass?: string;
}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={isActive ? "#" : href}
  class:list={[className, isActive && (props.activeClass ?? "")]}
  {...props}
>
  <slot />
</a>
