---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main class="m-12">
    <h1 class="mb-4 font-bold text-4xl uppercase">
      Experience • <span class="text-[#00ADD8]">Go</span>
    </h1>
    <div class="grid gap-y-4">
      <p>
        Go was the first compiled, statically-typed programming language I
        learnt and it was truly a challenge coming from interpreted,
        dynamically-typed languages. Ok well, not entirely: leading up to my
        exploration of the language, I had been wanting some form of static
        typing in my projects and had basic experience with <strong
          class="text-[#3178C6]">TypeScript</strong
        > and <strong class="text-black">Crystal</strong> but nothing that gave me
        a deep understanding of the world that is static typing. I had learned more
        through JSDoc typings than anything else, but it was time for a change, and
        Go was that change.
      </p>
      <p>
        My memories of venturing into the Go world are blurry with hints of
        frustration, to say the least. Syntatically the language was very simple
        and (arguably) appealing which made it easy to learn, but the niceties
        stop around there. Learning the package and project structure, type
        safety, visibility rules and even the toolchain were quite complicated.
        I distinctly remember being stuck on how to start a new Go project
        multiple times because I forgot how <code>go mod init</code> works.
      </p>
      <p>
        <blockquote
          class="p-2 border-l-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800"
        >
          <p class="text-gray-600">
            <strong>Note:</strong>&nbsp;This page is still being written, check
            back in a few days.
          </p>
        </blockquote>
      </p>
    </div>
  </main>
</Layout>
