---
import Layout from "../../layouts/Layout.astro";
---

<Layout experience>
  <main>
    <div class="grid grid-rows-2 gap-y-10 m-12 font-[Roboto Medium,monospace]">
      <h1 class="mb-2 font-bold text-4xl uppercase">Experience</h1>
      <a
        class="text-slate-400 hover:text-black"
        href="/experience/python"
        transition:name="python"
      >
        <hr class="w-full h-6 rounded-xl bg-[#3572A5]" />
        <h3
          class="ml-4 font-bold text-xl uppercase hover:transition hover:ease-in-out duration-300"
        >
          Python - 2016
        </h3>
      </a>
      <div>
        <div class="grid justify-items-end">
          <hr class="w-[75%] h-6 rounded-xl bg-[#F1E05A]" />
        </div>
        <h3 class="ml-[26%] font-bold text-slate-400 text-xl uppercase">
          JavaScript
        </h3>
      </div>
      <div>
        <div class="grid justify-items-end">
          <hr class="w-[70%] h-6 rounded-xl bg-[#3178C6]" />
        </div>
        <h3 class="ml-[31%] font-bold text-slate-400 text-xl uppercase">
          TypeScript
        </h3>
      </div>
      <div>
        <div class="grid justify-items-end">
          <hr class="w-[55%] h-6 rounded-xl bg-black" />
        </div>
        <h3 class="ml-[46%] font-bold text-slate-400 text-xl uppercase">
          Crystal
        </h3>
      </div>
      <a
        class="text-slate-400 hover:text-black"
        href="/experience/dart"
        transition:name="dart"
      >
        <div class="grid justify-items-end">
          <hr class="w-[45%] h-6 rounded-xl bg-[#00B4AB]" />
        </div>
        <h3
          class="ml-[56%] font-bold text-xl uppercase hover:transition hover:ease-in-out duration-300"
        >
          Dart - 2021
        </h3>
      </a>
      <div>
        <div class="grid justify-items-end">
          <hr class="w-[40%] h-6 rounded-xl bg-[#00ADD8]" />
        </div>
        <h3 class="ml-[61%] font-bold text-slate-400 text-xl uppercase">Go</h3>
      </div>
      <div>
        <div class="grid justify-items-end">
          <hr class="w-[25%] h-6 rounded-xl bg-[#DEA584]" />
        </div>
        <h3 class="ml-[76%] font-bold text-slate-400 text-xl uppercase">
          Rust
        </h3>
      </div>
      <a
        class="text-slate-400 hover:text-black"
        href="/experience/zig"
        transition:name="zig"
      >
        <div class="grid justify-items-end">
          <hr class="w-[12%] h-6 rounded-xl bg-[#EC915C]" />
        </div>
        <h3
          class="ml-[89%] font-bold text-xl uppercase hover:transition hover:ease-in-out duration-300"
        >
          Zig - 2023
        </h3>
      </a>
    </div>
  </main>
</Layout>
