---
import Layout from "../../layouts/Layout.astro";
---

<Layout experience>
  <main>
    <div class="m-12">
      <h1 class="mb-4 font-bold text-4xl uppercase">Experience</h1>
      <p class="mb-8">
        This page covers the majority of my programming journey, with the most
        notable experiences&mdash;those being the main programming languages I
        have learnt and use&mdash;being separated into their own sections in the
        timelines below. Other experiences such as languages, frameworks and dev
        tools can be found below the languages timeline.
      </p>
      <h2 class="mb-4 font-bold text-3xl uppercase">Main Languages</h2>
      <div class="grid grid-rows-2 gap-y-8">
        <a
          class="text-slate-400 hover:text-black dark:hover:text-gray-200"
          href="/experience/python"
          transition:name="python"
        >
          <hr class="w-full h-6 rounded-xl bg-[#3572A5]" />
          <h3
            class="ml-4 font-bold text-xl uppercase hover:transition hover:ease-in-out duration-300"
          >
            Python - 2016
          </h3>
        </a>
        <div>
          <div class="grid justify-items-end">
            <hr class="w-[75%] h-6 rounded-xl bg-[#F1E05A]" />
          </div>
          <h3 class="ml-[26%] font-bold text-slate-400 text-xl uppercase">
            JavaScript
          </h3>
        </div>
        <div>
          <div class="grid justify-items-end">
            <hr class="w-[70%] h-6 rounded-xl bg-[#3178C6]" />
          </div>
          <h3 class="ml-[31%] font-bold text-slate-400 text-xl uppercase">
            TypeScript
          </h3>
        </div>
        <div>
          <div class="grid justify-items-end">
            <hr class="w-[55%] h-6 rounded-xl bg-black" />
          </div>
          <h3 class="ml-[46%] font-bold text-slate-400 text-xl uppercase">
            Crystal
          </h3>
        </div>
        <a
          class="text-slate-400 hover:text-black dark:hover:text-gray-200"
          href="/experience/dart"
          transition:name="dart"
        >
          <div class="grid justify-items-end">
            <hr class="w-[45%] h-6 rounded-xl bg-[#00B4AB]" />
          </div>
          <h3
            class="ml-[46%] sm:ml-[56%] font-bold text-xl uppercase hover:transition hover:ease-in-out duration-300"
          >
            Dart - 2021
          </h3>
        </a>
        <a
          class="text-slate-400 hover:text-black dark:hover:text-gray-200"
          href="/experience/go"
          transition:name="go"
        >
          <div class="grid justify-items-end">
            <hr class="w-[40%] h-6 rounded-xl bg-[#00ADD8]" />
          </div>
          <h3
            class="ml-[51%] sm:ml-[61%] font-bold text-xl uppercase hover:transition hover:ease-in-out duration-300"
          >
            Go - 2021
          </h3>
        </a>
        <div>
          <div class="grid justify-items-end">
            <hr class="w-[25%] h-6 rounded-xl bg-[#DEA584]" />
          </div>
          <h3
            class="ml-[66%] sm:ml-[76%] font-bold text-slate-400 text-xl uppercase"
          >
            Rust
          </h3>
        </div>
        <a
          class="text-slate-400 hover:text-black dark:hover:text-gray-200"
          href="/experience/zig"
          transition:name="zig"
        >
          <div class="grid justify-items-end">
            <hr class="w-[12%] h-6 rounded-xl bg-[#EC915C]" />
          </div>
          <h3
            class="ml-[49%] md:ml-[85%] lg:ml-[89%] font-bold text-xl uppercase hover:transition hover:ease-in-out duration-300"
          >
            Zig - 2023
          </h3>
        </a>
      </div>
      <h2 class="my-4 font-bold text-3xl uppercase">Other Languages</h2>
      <div class="grid gap-y-4">
        <p>
          As part of one of the largest projects I contribute to, I have learned
          parts of <strong class="text-[#4F5D95]">PHP</strong> with the Laravel Framework,
          but I wouldn't consider it enough to be proficient in and I don't have
          much use for the language at present.
        </p>
        <p>
          <strong class="text-[#A97BFF]">Kotlin</strong> caught my eye and is a serious
          contender against Dart for <a href="/experience/dart"
            >various reasons</a
          >, it has a really nice design, great typing and concurrency system,
          and runs on the JVM (if that still counts as a benefit). If I ever get
          back into application development, I'll probably be using Kotlin.
        </p>
        <p>
          <strong class="text-[#C22D40]">Scala</strong> is an interesting language
          with a very rich yet complex type system. Unfortunately, I couldn't find
          anything practical to do with this language but I hope that one day I will
          get that opportunity.
        </p>
        <p>
          My <strong>HTML</strong> and <strong>CSS</strong> experience has been painful
          to say the least. To this day I consider myself a backend developer, my
          skills with frontend development are minimal as shown by this website (it
          took me half a year to create this). That being said, I am slowly improving
          but if you ever need help with fontend development, do us both a favour
          and ask a professional.
        </p>
      </div>
      <!-- TODO: Frameworks -->
      <h2 class="my-4 font-bold text-3xl uppercase">Editors</h2>
      <!-- TODO: and Tools -->
      <p>
        <strong>VSCode</strong> has been my primary editor since I started programming
        seriously. It's had its ups and downs but works for most projects and is
        generally reliable. I have tried other editors like <strong
          >Notepad++</strong
        > and <strong>IntelliJ</strong>
        (for Kotlin and Scala) but they don't work as well for me in terms of productivity.
        In more recent times I have been familiarising myself with <strong
          >Neovim</strong
        > which has proved to be quite useful when working on projects in remote
        environments. I haven't quite grasped (Neo)Vim motions yet but I think that
        it could be a potential permanent contender against VSCode for remote work.
      </p>
    </div>
    <!-- TODO: Dev Environment -->
  </main>
</Layout>
