---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  home?: boolean;
  experience?: boolean;
  photography?: boolean;
}

const { props, url } = Astro;
---

<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="The journey of Devonte." />
    <meta name="og:title" content="devnote-dev" />
    <meta name="og:description" content="The journey of Devonte." />
    <meta name="og:url" content={url} />
    <meta name="og:locale" content="en_GB" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <title>devnote-dev</title>
    <ViewTransitions />
  </head>
  <body
    class="grid min-h-[100svh] grid-rows-[auto_1fr_auto] font-[Roboto Medium,monospace] dark:bg-gray-800 dark:text-gray-200"
  >
    <NavBar {...props} />
    <slot />
    <Footer />
  </body>
</html>
